In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [2]:
trf=pd.read_csv("train.csv")
tf=pd.read_csv("test.csv")

In [3]:
data=[trf,tf]
df=pd.concat(data)
df.head(5)

c:\users\asus\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [7]:
df=(pd.concat(data,sort=True))

In [8]:
df.head(5)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [9]:
df.Survived=df.Survived.dropna()

In [10]:
df['Has_cabin']=df['Cabin'].isnull()

In [12]:
print (df['Has_cabin'])

0       True
1      False
2       True
3      False
4       True
5       True
6      False
7       True
8       True
9       True
10     False
11     False
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21     False
22      True
23     False
24      True
25      True
26      True
27     False
28      True
29      True
       ...
388     True
389     True
390    False
391    False
392     True
393     True
394     True
395    False
396     True
397    False
398     True
399     True
400    False
401     True
402     True
403     True
404    False
405    False
406     True
407    False
408     True
409     True
410     True
411    False
412     True
413     True
414    False
415     True
416     True
417     True
Name: Has_cabin, Length: 1309, dtype: bool

In [13]:
l1=[]
l2=["Mr.", "Mrs.", "Master.", "Miss."]
for i in df.Name:
    l=list(str(i).split(','))
    ls=list(str(l[1]).split())
    if(ls[0] in l2):
      l1.append(ls[0][0:-1])
    else:
      l1.append('Special')
df['Title']=l1

In [14]:
df['Embarked']=df['Embarked'].fillna('S')
df['Cabin']=df['Cabin'].fillna(value='C25')
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Fare']=df['Fare'].fillna(df['Fare'].mean())

In [15]:
df['Categorical_age']=pd.qcut(df.Age,4,labels=False)
df['Categorical_fare']=pd.qcut(df.Fare,4,labels=False)

In [16]:
df=df.drop(columns=['Cabin','Name','PassengerId','Ticket','Age','Fare','SibSp','Parch'])

In [17]:
df=pd.get_dummies(df)
df.columns

Index(['Pclass', 'Survived', 'Has_cabin', 'Categorical_age',
       'Categorical_fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Sex_female', 'Sex_male', 'Title_Master', 'Title_Miss', 'Title_Mr',
       'Title_Mrs', 'Title_Special'],
      dtype='object')

In [19]:
x=df[['Pclass', 'Has_cabin', 'Categorical_age',
       'Categorical_fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Sex_female', 'Sex_male', 'Title_Master', 'Title_Miss', 'Title_Mr',
       'Title_Mrs', 'Title_Special']]
y=df['Survived']

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.15,random_state=0)

In [21]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

c:\users\asus\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [22]:
predictions=lr.predict(x_test)

In [23]:
lr.score(x_test,y_test)

0.7309644670050761